.center {text-align: center;}
.h1color {color: #e9fbac;}
.t70 {font-size: 70px;}
.ml280 {margin-left: 280px;}
.ml520 {margin-left: 520px;}
.mt50 {margin-top: 50px;}
.bcb {background-color: black;}
.br20 {border-radius: 20px;}
.tcy {color: yellow;}
.mt100 {margin-top: 100px;}
.ml450 {margin-left: 450px;}
.tcbv {color: blueviolet;}
.tcb {color: beige;}
.bcbv {background-color: blueviolet;}
.mr250 {margin-right: 250px;}
.ml200 {margin-left: 200px;}
.pl200 {padding-left: 200px;}
.tco {color: orange;}
.tcr {color: red;}
.t10 {font-size: 10px;}